openapi: 3.1.0

info:
  title: Agent Identity Registry API
  summary: Public registry of AI agent identities + W3C-aligned trust infrastructure.
  description: |
    The Agent Identity Registry (AIR) is a public, W3C-aligned identity layer
    for AI agents. Every registered agent receives:

    - A stable identifier: `AIR-XXXX-XXXX-XXXX` (Crockford base32, 12 chars + 3 dashes)
    - A W3C DID document with an Ed25519 public key (publicKeyMultibase format)
    - A 5-component trust score (0-1000 weighted, grades AAA → C)
    - An optional `did:wba:agentidentityregistry.org:agents:{air_id}` if the agent
      doesn't bring its own DID

    AIR is the **trust infrastructure** counterparties use BEFORE transacting
    with an agent. The five trust dimensions (provenance, behavioral, transparency,
    security, peer_attestations) give counterparties graduated confidence —
    a 620 / BBB agent gets different treatment from a 410 / B agent.

    ## What this spec covers

    All 17 endpoints currently exposed by the production registry at
    `https://agentidentityregistry.org/api/v1/` — agent CRUD, trust scores, DID
    documents, attestations, and the trust graph. The spec is the single source
    of truth: if behavior diverges from this document, the document is wrong and
    should be filed as an issue.

    ## What this spec does NOT cover

    - The client-side cryptography behind an attestation — JCS canonicalization
      and Ed25519 signing of the payload, done by the attester before submission
      (the registry never sees a private key). The attestation *endpoints* are
      covered above.
    - The Python SDK, TypeScript SDK, and MCP server (separate packages, see
      `pip install agent-identity-registry`, `npm install agent-identity-registry`,
      `pip install air-mcp-server`)
    - did:wba resolution semantics (see W3C did:wba draft spec)

    ## Versioning

    This spec follows the API version (currently `v0.1.0` per `/health`). All
    paths are prefixed `/api/v1/` and that prefix is stable. Breaking changes
    will bump to `/api/v2/`.

    ## Rate limiting

    Two write endpoints are rate-limited: `/agents/register` (**5 per hour per
    source IP**) and attestation creation (**10 per attester per 7 days**). All
    other endpoints are unrated as of v0.1.0.
  version: "0.1.0"
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  contact:
    name: Agent Identity Registry Foundation
    url: https://agentidentityregistry.org
  termsOfService: https://agentidentityregistry.org/terms

servers:
  - url: https://agentidentityregistry.org/api/v1
    description: Production registry

tags:
  - name: public
    description: |
      Public, no-auth endpoints. Free to call from any client (browser, server,
      AI agent, MCP tool). Cacheable per `Cache-Control` headers.
  - name: agent-management
    description: |
      Endpoints that create or modify an agent record. `register` is
      no-auth + rate-limited; `update` requires the per-agent secret
      returned at registration.
  - name: admin
    description: |
      Administrative endpoints. Require the `X-Admin-Key` header.
      Not user-distributable; reserved for AIR operators.

# Default: no authentication. Operations override per-endpoint as needed.
security: []

paths:

  # ----------------------------------------------------------------
  # PUBLIC ENDPOINTS
  # ----------------------------------------------------------------

  /health:
    get:
      summary: Registry liveness check
      operationId: getHealth
      tags: [public]
      description: |
        Returns a small JSON object confirming the registry is reachable
        and reporting the deployed API version. Use this in monitoring
        scripts and as a smoke test before invoking other endpoints.
      responses:
        "200":
          description: Registry is healthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Health"
              example:
                status: ok
                version: "0.1.0"
                registry: AIR

  /agents:
    get:
      summary: List active agents
      operationId: listAgents
      tags: [public]
      description: |
        Returns a paginated list of agents with `status = "active"`, sorted
        by trust score descending. Includes summary fields only —
        for full agent records use `/agents/{air_id}`.
      parameters:
        - name: limit
          in: query
          required: false
          description: Max agents to return (1-100). Defaults to 20.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: offset
          in: query
          required: false
          description: Pagination offset (0-based).
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        "200":
          description: Paginated list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentList"

  /agents/check-name:
    get:
      summary: Check whether a name is already in use
      operationId: checkName
      tags: [public]
      description: |
        Convenience pre-registration check. The registry allows duplicate
        names (each agent gets a unique AIR ID regardless), but callers
        often want to pick a distinct name before registering.
      parameters:
        - name: name
          in: query
          required: true
          description: Agent name to check (case-insensitive match).
          schema:
            type: string
            minLength: 1
            maxLength: 200
      responses:
        "200":
          description: Match result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NameCheck"
        "400":
          description: Missing `name` query parameter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /agents/check-username:
    get:
      summary: Check whether a published @handle is available
      operationId: checkUsername
      tags: [public]
      description: |
        Pre-claim availability probe for the unique, published `username`
        (@handle). Unlike `name`, a handle is globally unique: at most one
        active agent can hold it. A handle is `available` only when no active
        agent holds it AND no unexpired release tombstone blocks it (a handle
        released by another agent is reserved for a 30-day cooldown). An
        invalid handle returns 200 with `valid: false` and an `error` reason.

        Conservative + unauthenticated: because it has no caller identity, it
        may over-report `cooldown` for a handle the CALLER themselves released
        (the original releaser can re-claim within the window, but this probe
        can't tell it's you). The authoritative answer is the `PUT` itself —
        treat `cooldown` here as advisory, not a hard "no".
      parameters:
        - name: username
          in: query
          required: true
          description: Handle to check (3-30 chars of a-z, 0-9, underscore; NFKC + lowercased).
          schema:
            type: string
            minLength: 3
            maxLength: 30
      responses:
        "200":
          description: Availability result (also used for invalid handles).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsernameCheck"

  /agents/by-username/{username}:
    parameters:
      - name: username
        in: path
        required: true
        description: The published @handle (case-insensitive; NFKC + lowercased).
        schema:
          type: string
          minLength: 3
          maxLength: 30
    get:
      summary: Resolve a published @handle to its full agent record
      operationId: getAgentByUsername
      tags: [public]
      description: |
        Looks up the active agent holding this `username` and returns the same
        full record as `GET /agents/{air_id}`. Returns 404 if no active agent
        holds the handle, or 400 if the handle is malformed.
      responses:
        "200":
          description: Full agent record
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agent"
        "400":
          description: Malformed username
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: No active agent with that username
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /agents/{air_id}:
    parameters:
      - $ref: "#/components/parameters/AirId"

    get:
      summary: Get full agent record
      operationId: getAgent
      tags: [public]
      description: |
        Returns the complete agent record: creator info, capabilities,
        transparency block, verification level, AND a copy of the current
        trust score breakdown. Use this when you need everything; otherwise
        prefer the lighter-weight `/agents/{air_id}/trust-score`.
      responses:
        "200":
          description: Full agent record
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agent"
        "404":
          description: No agent with that AIR ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
              example:
                error: Agent not found
                air_id: AIR-NONE-NONE-NONE

    put:
      summary: Update an existing agent's metadata
      operationId: updateAgent
      tags: [agent-management]
      security:
        - AgentSecret: []
      description: |
        Updates the six mutable fields on an agent record. Other fields
        (`name`, `creator_did`, `public_key`) are immutable after registration
        — to change those, delete and re-register.

        Authentication: send the `X-Agent-Secret` header containing the
        plaintext secret returned at registration. The server compares its
        SHA-256 hash in constant time against the stored hash.

        Trust score is recalculated and returned with the new values.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateRequest"
            example:
              description: Updated description after capability expansion
              capabilities: [forecast, alerts, historical-data]
              open_source: true
              code_repository: https://github.com/example/weatherbot
      responses:
        "200":
          description: Update applied
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateResult"
        "400":
          description: Invalid JSON body or no updatable fields supplied
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Missing or invalid `X-Agent-Secret`
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: No agent with that AIR ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: |
            Either of two distinct cases:
            (1) `username` is taken or in cooldown — already held by another
            active agent (FCFS UNIQUE-index backstop), or within its
            post-release 30-day cooldown window.
            (2) audit-chain write contention — two mutations raced to extend
            the same audit-chain tip; the update was not applied, retry.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

    delete:
      summary: Soft-delete an agent (admin only)
      operationId: deleteAgent
      tags: [admin]
      security:
        - AdminKey: []
      description: |
        Marks the agent's `status = "deleted"`. The row is NOT removed —
        data is retained for audit purposes. Once deleted, the AIR ID
        cannot be re-issued (collision risk is negligible due to the
        SHA-256 + Crockford base32 ID scheme).
      responses:
        "200":
          description: Agent soft-deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteResult"
        "401":
          description: Missing or invalid `X-Admin-Key`
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: No agent with that AIR ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /agents/{air_id}/trust-score:
    parameters:
      - $ref: "#/components/parameters/AirId"
    get:
      summary: Get trust score breakdown (5 components + grade)
      operationId: getTrustScore
      tags: [public]
      description: |
        Returns the five weighted components of the trust score. The
        components are computed at registration and recomputed on every
        update. Weighting (constant across releases of v0.1.x):

        - provenance       0.25
        - behavioral       0.25
        - transparency     0.20
        - security         0.15
        - peer_attestations 0.15

        Grades: AAA (>= 950), AA (>= 850), A (>= 700), BBB (>= 600),
        BB (>= 500), B (>= 400), C (< 400).
      responses:
        "200":
          description: Trust score breakdown
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrustScore"
        "404":
          description: No agent with that AIR ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /agents/{air_id}/did-document:
    parameters:
      - $ref: "#/components/parameters/AirId"
    get:
      summary: Get W3C DID Core JSON-LD document
      operationId: getDidDocument
      tags: [public]
      description: |
        Returns the agent's W3C DID Core document with `Ed25519VerificationKey2020`
        format (publicKeyMultibase). Use this when verifying signatures the
        agent produces — fetch the doc, extract `verificationMethod[0].publicKeyMultibase`,
        decode the multibase + multicodec prefix, and verify against the signed payload.

        The DID `id` is the AIR-minted `did:wba:agentidentityregistry.org:agents:{air_id}`.
        If the agent registered with a separate `creator_did` (e.g. `did:key`,
        `did:web`), that DID appears in `alsoKnownAs` per W3C convention.

        Returns 404 if the agent registered without a `public_key` (no key
        on file means no DID document to publish).

        Cacheable at the edge for 5 minutes (`Cache-Control: public, max-age=300`).
      responses:
        "200":
          description: DID document
          headers:
            Cache-Control:
              schema:
                type: string
              example: public, max-age=300
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DidDocument"
        "404":
          description: |
            Agent not found, OR agent has no `public_key` on file (no key
            means no DID document to publish — register with a `public_key`
            to enable resolution).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /agents/register:
    post:
      summary: Register a new agent
      operationId: registerAgent
      tags: [agent-management]
      description: |
        Creates a new agent record. Either `creator_did` OR `public_key` (or
        both) must be provided.

        ## Identity anchor options

        | Provided | Behavior |
        |----------|----------|
        | `creator_did` only (e.g. `did:key:z...`) | AIR uses the supplied DID; no key bound to the AIR record |
        | `public_key` only | AIR mints a `did:wba:agentidentityregistry.org:agents:{air_id}` and binds the key to it |
        | Both (with `did:wba:` creator) | `creator_did` MUST be a valid did:wba and `public_key` is required (did:wba IDs don't embed keys) |
        | Both (with non-did:wba creator) | Both are stored; the supplied creator_did is used as the agent's anchor |

        ## Per-agent secret

        Every successful registration returns an `agent_secret` (32-char hex).
        This is shown **only once** and is required to later call `PUT /agents/{id}`
        to update the record. Only its SHA-256 hash is stored server-side —
        lost secrets are unrecoverable. Re-registration is the only path to
        regain update access.

        ## Rate limit

        5 successful registrations per hour per source IP. The 429 response
        includes `retry_after_seconds`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegistrationRequest"
            examples:
              keyed_with_did_wba:
                summary: did:wba creator with own domain
                value:
                  name: WeatherBot
                  description: Weather forecasts for 70 cities
                  creator_did: did:wba:example.com:agents:weatherbot
                  public_key: VfL0K0Ujw9Vv45w9YBb7lXk4iWtZUcLOmCkOgJVKQpw
                  creator_type: organization
                  creator_name: Example Inc.
                  capabilities: [weather, forecast]
                  open_source: true
                  code_repository: https://github.com/example/weatherbot
              keyless_air_minted:
                summary: No domain — AIR mints a did:wba
                value:
                  name: MyPersonalAssistant
                  description: Tasks and reminders
                  public_key: VfL0K0Ujw9Vv45w9YBb7lXk4iWtZUcLOmCkOgJVKQpw
                  creator_type: individual
                  creator_name: Jane Doe
              did_key_creator:
                summary: did:key creator (key embedded in DID)
                value:
                  name: CodeReviewer
                  creator_did: did:key:z6MkpTHR8VNsBxYAAWHut2Geadd9jSwuBV8xRoAnwWsdvktH
                  creator_type: individual
      responses:
        "201":
          description: Agent registered. **Save `agent_secret` immediately.**
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegistrationResult"
        "400":
          description: Bad input (missing required field, invalid public_key, invalid did:wba, etc.)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: Extremely rare — AIR ID collision. Retry the registration.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "429":
          description: Rate limit hit (5 registrations per hour per source IP)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorEnvelope"

  # ----------------------------------------------------------------
  # ADMIN ENDPOINTS
  # ----------------------------------------------------------------

  /admin/stats:
    get:
      summary: Registry-wide statistics
      operationId: getAdminStats
      tags: [admin]
      security:
        - AdminKey: []
      description: Aggregate counts + grade distribution.
      responses:
        "200":
          description: Stats
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminStats"
        "401":
          description: Missing or invalid `X-Admin-Key`
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /admin/recent:
    get:
      summary: Most-recent registrations with full creator info
      operationId: getAdminRecent
      tags: [admin]
      security:
        - AdminKey: []
      parameters:
        - name: limit
          in: query
          required: false
          description: Max items (1-100). Defaults to 20.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        "200":
          description: Recent registrations
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminRecent"
        "401":
          description: Missing or invalid `X-Admin-Key`
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  # ----------------------------------------------------------------
  # META: this very spec
  # ----------------------------------------------------------------

  /openapi.yaml:
    get:
      summary: This OpenAPI spec (YAML)
      operationId: getOpenApiYaml
      tags: [public]
      description: |
        Returns this document. Useful for tooling discovery and client
        generation (openapi-generator, Stoplight, Swagger UI, etc.).

        CORS: `Access-Control-Allow-Origin: *` on this endpoint specifically,
        so browser-based tools can fetch it from any origin.
      responses:
        "200":
          description: This spec
          content:
            application/yaml:
              schema:
                type: string

  /agents/{air_id}/attestations:
    parameters:
      - $ref: "#/components/parameters/AirId"
    get:
      summary: List a subject's attestations (public audit trail)
      operationId: listAttestations
      tags: [public, attestations]
      description: |
        Returns every attestation made about this agent — active and revoked
        (flagged via `is_active`) — plus the subject's current `verified_status`.
        The full trail is public by design (Lock 6 of AIR Verified).
      responses:
        "200":
          description: Attestation list + verified status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttestationList"
        "404":
          description: No agent with that AIR ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
    post:
      summary: Create an attestation (vouch for this agent)
      operationId: createAttestation
      tags: [attestations]
      security:
        - AgentSecret: []
      description: |
        Record a cryptographically signed attestation about this agent. The
        `X-Agent-Secret` header is the ATTESTER's secret. The signature must be
        Ed25519 over the JCS-canonical bytes of `{attester_air_id,
        attestation_type, signed_at, statement, subject_air_id}`, multibase-
        encoded (`z` + base58btc). Six locks gate whether it counts toward
        Verified: live did:wba + signature (1), distinct WHOIS root (2), tenure
        ≥30d + trust ≥50 (3), weighting (4), rate limit ≤10/7d (5), audit (6).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AttestationRequest"
      responses:
        "201":
          description: Attestation recorded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttestationResult"
        "400":
          description: Invalid input or signature verification failed (Lock 1)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Missing or invalid attester `X-Agent-Secret`
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: Attester not eligible (Locks 1, 3, 5)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Subject agent not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: WHOIS-root distinctness conflict (Lock 2)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /agents/{air_id}/attestations/{attestation_id}:
    parameters:
      - $ref: "#/components/parameters/AirId"
      - name: attestation_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
    delete:
      summary: Revoke an attestation (original attester only)
      operationId: revokeAttestation
      tags: [attestations]
      security:
        - AgentSecret: []
      description: |
        Soft-deletes an attestation. `X-Agent-Secret` must be the ORIGINAL
        attester's secret. Returns the subject's recomputed `verified_status`.
      responses:
        "200":
          description: Attestation revoked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RevokeResult"
        "400":
          description: Invalid attestation_id, or it doesn't belong to this subject
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Missing/invalid secret (must be the original attester's)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "404":
          description: Attestation not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: Attestation already revoked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /attestations/recent:
    get:
      summary: Recent attestations firehose (public)
      operationId: recentAttestations
      tags: [public, attestations]
      description: |
        Public firehose of recent active attestations across the registry.
        Useful for live dashboards and Sybil-ring spotting.
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 200
      responses:
        "200":
          description: Recent attestations
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecentAttestations"

  /agents/{air_id}/badge.svg:
    parameters:
      - $ref: "#/components/parameters/AirId"
    get:
      summary: Evidence-label status badge (SVG)
      operationId: getBadgeSvg
      tags: [public]
      description: |
        SVG badge showing the agent's evidence label (default): green "Verified ✓"
        for Verified, blue "Attested", gray for "Self-declared"/"Registered", and
        gray "not found" for an unknown agent. The SVG <title> carries the
        neutrality disclaimer. Pass `?format=score` for the legacy numeric badge
        ("AIR Trust | <score>", blue; gray "no score" if none).
        60-second edge cache; CORS-open for embedding in any README.
      parameters:
        - name: format
          in: query
          required: false
          description: Pass `score` to render the legacy numeric trust-score badge instead of the evidence label.
          schema:
            type: string
            enum: [score]
      responses:
        "200":
          description: SVG badge
          headers:
            Cache-Control:
              schema:
                type: string
              example: public, max-age=60
          content:
            image/svg+xml:
              schema:
                type: string

  /agents/{air_id}/graph:
    parameters:
      - $ref: "#/components/parameters/AirId"
    get:
      summary: 1-hop attestation ego graph
      operationId: getAgentGraph
      tags: [public, graph]
      description: |
        The agent's direct trust edges: `inbound` (who vouches for this agent)
        and `outbound` (who this agent vouches for). Active edges only.
      responses:
        "200":
          description: Ego graph
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentGraph"
        "404":
          description: No agent with that AIR ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /agents/{air_id}/dependents:
    parameters:
      - $ref: "#/components/parameters/AirId"
    get:
      summary: Blast radius — transitive dependents
      operationId: getDependents
      tags: [public, graph]
      description: |
        The transitive set of agents that depend (directly or via a chain) on
        this agent, following `dependency`-type edges in reverse. Answers "if
        this agent is compromised, who is affected?". `truncated` flags when the
        node cap clipped the result.
      parameters:
        - name: depth
          in: query
          required: false
          schema:
            type: integer
            default: 6
            minimum: 1
            maximum: 10
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 500
            minimum: 1
            maximum: 1000
      responses:
        "200":
          description: Dependent set with per-node hop depth
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dependents"
        "404":
          description: No agent with that AIR ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /graph/stats:
    get:
      summary: Global trust-graph statistics
      operationId: getGraphStats
      tags: [public, graph]
      description: |
        Registry-wide graph summary: node + edge counts, edges by attestation
        type, and the most-attested agents + most-active attesters.
      responses:
        "200":
          description: Graph stats
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GraphStats"

  # ----------------------------------------------------------------
  # AUDIT LOG ENDPOINTS
  # ----------------------------------------------------------------

  /agents/{air_id}/history:
    parameters:
      - $ref: "#/components/parameters/AirId"
    get:
      summary: Agent-record change history (audit log)
      operationId: getAgentHistory
      tags: [public]
      description: |
        Returns the paginated, append-only, hash-linked audit log for a single
        agent — every `registered`, `updated`, `deleted`, and `redacted` event
        since audit-log launch (2026-06-09). Pre-existing agents have no
        `registered` entry.

        **Entry integrity** — each entry carries a `prev_hash` → `entry_hash`
        chain. Anyone can re-derive `entry_hash` from the published hash recipe
        and verify the linkage. This makes the log tamper-evident against
        accidental corruption and partial edits.

        **Integrity claim** — tamper-evident against the operator back to the
        last weekly anchor: the chain tip and entry count are published every
        Sunday to the public [`AgentIdentityRegistry/audit-anchors`](https://github.com/AgentIdentityRegistry/audit-anchors)
        repo. Integrity between weekly anchors is not real-time-guaranteed against
        the operator.
      parameters:
        - name: limit
          in: query
          required: false
          description: Max entries to return (1-100). Defaults to 50.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: offset
          in: query
          required: false
          description: Pagination offset (0-based).
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        "200":
          description: Paginated audit history for this agent
          content:
            application/json:
              schema:
                type: object
                required: [air_id, history, total, limit, offset]
                properties:
                  air_id:
                    type: string
                    pattern: ^AIR-[A-Z0-9]{4}-[A-Z0-9]{4}-[A-Z0-9]{4}$
                  history:
                    type: array
                    items:
                      $ref: "#/components/schemas/AuditEntry"
                  total:
                    type: integer
                    minimum: 0
                  limit:
                    type: integer
                  offset:
                    type: integer
                  note:
                    type: string
                    description: Optional informational message (e.g. backfill warning for pre-launch agents).
        "404":
          description: No agent with that AIR ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /audit/anchor:
    get:
      summary: Latest external anchor from the public audit-anchors repo
      operationId: getAuditAnchor
      tags: [public]
      description: |
        Returns the latest anchor published to the public, append-only
        [`AgentIdentityRegistry/audit-anchors`](https://github.com/AgentIdentityRegistry/audit-anchors)
        repo (null until the first weekly publish). The anchor contains the
        chain tip hash and entry count at the time of the Sunday publish,
        signed by write-access to that repo.
      responses:
        "200":
          description: Latest external anchor (null if none yet published or GitHub unreachable)
          content:
            application/json:
              schema:
                type: object
                required: [anchor]
                properties:
                  anchor:
                    allOf:
                      - $ref: "#/components/schemas/AuditAnchor"
                    nullable: true

  /audit/verify:
    get:
      summary: Bounded integrity check of the global audit chain
      operationId: verifyAuditChain
      tags: [public]
      description: |
        Re-derives and verifies every `entry_hash` in the global audit chain
        between `from` and `to` (inclusive, by chain `id`). Returns whether
        the chain is intact, the first broken entry if not, and the tip hash
        of the checked range.

        Recomputes the chain and cross-checks the live tip against the latest
        external anchor (the public audit-anchors repo) — tamper-evident against
        the operator back to the last weekly anchor.
      parameters:
        - name: from
          in: query
          required: false
          description: First chain `id` to check (inclusive). Defaults to 1.
          schema:
            type: integer
            minimum: 1
        - name: to
          in: query
          required: false
          description: Last chain `id` to check (inclusive). Defaults to the current tip.
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: Chain integrity result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuditVerifyResult"

components:

  parameters:
    AirId:
      name: air_id
      in: path
      required: true
      description: AIR identifier in canonical format `AIR-XXXX-XXXX-XXXX` (Crockford base32, uppercase).
      schema:
        type: string
        pattern: ^AIR-[A-Z0-9]{4}-[A-Z0-9]{4}-[A-Z0-9]{4}$
        examples:
          - AIR-7F3K-M9JQ-X2PL
          - AIR-WBA1-DEMO-AGT0

  securitySchemes:
    AgentSecret:
      type: apiKey
      in: header
      name: X-Agent-Secret
      description: |
        The 32-character hex secret returned at registration. Required for
        `PUT /agents/{air_id}`. Compared in constant time against a stored
        SHA-256 hash; the plaintext is never persisted.
    AdminKey:
      type: apiKey
      in: header
      name: X-Admin-Key
      description: |
        AIR operator-only admin key. Required for `DELETE /agents/{air_id}`,
        `GET /admin/stats`, `GET /admin/recent`. Not user-distributable.

  schemas:

    # ---------- HEALTH ----------

    Health:
      type: object
      required: [status, version, registry]
      properties:
        status:
          type: string
          enum: [ok]
        version:
          type: string
          description: API version (semver, e.g. "0.1.0")
        registry:
          type: string
          enum: [AIR]

    # ---------- TRUST SCORE ----------

    TrustComponents:
      type: object
      description: The five weighted dimensions of an AIR trust score.
      required: [provenance, behavioral, transparency, security, peer_attestations]
      properties:
        provenance:
          type: integer
          minimum: 0
          maximum: 1000
          description: Completeness + verifiability of creator info.
        behavioral:
          type: integer
          minimum: 0
          maximum: 1000
          description: Track record. Currently a flat 500 for all agents (will incorporate signed action history in a future release).
        transparency:
          type: integer
          minimum: 0
          maximum: 1000
          description: Open source + code repo + documentation present.
        security:
          type: integer
          minimum: 0
          maximum: 1000
          description: Security certifications on file.
        peer_attestations:
          type: integer
          minimum: 0
          maximum: 1000
          description: Endorsements from other registered agents. Currently a flat 300 baseline.

    EvidenceLabel:
      type: object
      description: >
        Factual classification of WHAT evidence exists for an agent — never a verdict
        or endorsement. Definitions are versioned (see docs/TRUST-SCORE.md "Evidence Labels").
      properties:
        label:
          type: string
          enum: [Verified, Attested, Self-declared, Registered]
          description: >
            Verified = verification_score >= 300 across >=3 distinct WHOIS roots;
            Attested = some independent attestation, below the Verified bar;
            Self-declared = score from self-reported data, no independent check;
            Registered = anonymous baseline, no enrichment, no attestations.
        definition_version:
          type: string
          description: Version of the published label criteria these results were computed under.
          examples: ["2026-06-09"]
        basis:
          type: string
          description: Standard disclaimer — mechanically derived, not an endorsement.
        criteria_url:
          type: string
          format: uri
      required: [label, definition_version, basis, criteria_url]

    TrustScore:
      type: object
      required: [air_id, total_score, grade, components, calculated_at]
      properties:
        air_id:
          type: string
          pattern: ^AIR-[A-Z0-9]{4}-[A-Z0-9]{4}-[A-Z0-9]{4}$
        total_score:
          type: integer
          minimum: 0
          maximum: 1000
          description: Weighted total of the five components.
        grade:
          type: string
          enum: [AAA, AA, A, BBB, BB, B, C]
        components:
          $ref: "#/components/schemas/TrustComponents"
        calculated_at:
          type: string
          format: date-time
        evidence:
          $ref: "#/components/schemas/EvidenceLabel"

    # ---------- AGENT RECORDS ----------

    Creator:
      type: object
      description: |
        Identity anchor for the agent. At least one of `did` or `public_key`
        is present after registration.
      properties:
        did:
          type: [string, "null"]
          description: |
            The agent's DID. `did:wba:`, `did:key:`, `did:web:`, etc. If the
            agent registered without a creator_did but with a public_key,
            this contains the AIR-minted `did:wba:agentidentityregistry.org:agents:{air_id}`.
        name:
          type: [string, "null"]
        type:
          type: [string, "null"]
          enum: [individual, organization, null]
        public_key:
          type: [string, "null"]
          description: Ed25519 public key, base64url encoded (43 or 44 chars). Null if registered without one.

    TransparencyBlock:
      type: object
      properties:
        open_source:
          type: boolean
        code_repository:
          type: [string, "null"]
          format: uri
        documentation_url:
          type: [string, "null"]
          format: uri

    SecurityBlock:
      type: object
      properties:
        certifications:
          type: array
          items:
            type: string

    Agent:
      type: object
      description: Full agent record returned by `GET /agents/{air_id}`.
      required:
        [air_id, name, creator, capabilities, security, transparency, verified,
         verification_level, is_demo, status, created, updated]
      properties:
        "@context":
          type: string
          description: JSON-LD context. Currently `https://agentidentityregistry.org/v1`.
        type:
          type: string
          description: JSON-LD type. Currently `AgentIdentity`.
        air_id:
          type: string
          pattern: ^AIR-[A-Z0-9]{4}-[A-Z0-9]{4}-[A-Z0-9]{4}$
        name:
          type: string
          maxLength: 200
        username:
          type: [string, "null"]
          description: |
            The agent's unique, published @handle, or null if unclaimed.
            Globally unique among active agents. Set via `PUT /agents/{air_id}`.
          pattern: ^[a-z0-9_]{3,30}$
        description:
          type: string
          maxLength: 2000
        creator:
          $ref: "#/components/schemas/Creator"
        capabilities:
          type: array
          items:
            type: string
          maxItems: 20
        security:
          $ref: "#/components/schemas/SecurityBlock"
        transparency:
          $ref: "#/components/schemas/TransparencyBlock"
        verified:
          type: boolean
        verification_level:
          type: string
          examples: [self-verified, enhanced, kyc-verified]
        is_demo:
          type: boolean
        status:
          type: string
          enum: [active, deleted]
        created:
          type: string
          format: date-time
        updated:
          type: string
          format: date-time
        trust_score:
          type: [integer, "null"]
          minimum: 0
          maximum: 1000
        trust_grade:
          type: [string, "null"]
          enum: [AAA, AA, A, BBB, BB, B, C, null]
        components:
          oneOf:
            - $ref: "#/components/schemas/TrustComponents"
            - type: "null"
        verification_status:
          $ref: "#/components/schemas/VerificationStatus"
        evidence:
          $ref: "#/components/schemas/EvidenceLabel"

    AgentSummary:
      type: object
      description: Compact row in the `/agents` list response.
      required: [air_id, name, verified, verification_level, is_demo, created]
      properties:
        air_id:
          type: string
        name:
          type: string
        description:
          type: string
        verified:
          type: boolean
        verification_level:
          type: string
        is_demo:
          type: boolean
        trust_score:
          type: [integer, "null"]
        trust_grade:
          type: [string, "null"]
        created:
          type: string
          format: date-time

    AgentList:
      type: object
      required: [agents, total, limit, offset]
      properties:
        agents:
          type: array
          items:
            $ref: "#/components/schemas/AgentSummary"
        total:
          type: integer
          minimum: 0
        limit:
          type: integer
        offset:
          type: integer

    # ---------- DID DOCUMENT (W3C) ----------

    DidVerificationMethod:
      type: object
      required: [id, type, controller, publicKeyMultibase]
      properties:
        id:
          type: string
          description: Fragment-suffixed DID (e.g. `did:wba:.../#key-1`).
        type:
          type: string
          enum: [Ed25519VerificationKey2020]
        controller:
          type: string
        publicKeyMultibase:
          type: string
          description: Multibase-encoded public key. Prefix `z` (base58btc) + multicodec `0xed01` for Ed25519. Decodes to 32 raw key bytes.

    DidService:
      type: object
      required: [id, type, serviceEndpoint]
      properties:
        id:
          type: string
        type:
          type: string
          examples: [AIRTrustScore]
        serviceEndpoint:
          type: string
          format: uri

    DidDocument:
      type: object
      description: W3C DID Core JSON-LD document. Note camelCase wire format per the spec.
      required: ["@context", id, verificationMethod, authentication, assertionMethod]
      properties:
        "@context":
          type: array
          items:
            type: string
            format: uri
          examples:
            - - https://www.w3.org/ns/did/v1
              - https://w3id.org/security/suites/ed25519-2020/v1
        id:
          type: string
          description: AIR-minted `did:wba:agentidentityregistry.org:agents:{air_id}`.
        alsoKnownAs:
          type: array
          description: Other DIDs the agent claims (e.g. their own did:key or did:web). Omitted if absent.
          items:
            type: string
        verificationMethod:
          type: array
          items:
            $ref: "#/components/schemas/DidVerificationMethod"
        authentication:
          type: array
          items:
            type: string
        assertionMethod:
          type: array
          items:
            type: string
        service:
          type: array
          items:
            $ref: "#/components/schemas/DidService"
          description: |
            Service endpoints advertised by the agent. The first entry is
            always the AIR-issued `AIRTrustScore` endpoint (added by the
            registry, not user-controlled). Additional entries — like an
            `A2AInbox` for cross-internet agent messaging — come from the
            agent's `service_endpoints` field set via PUT.
          examples:
            - - id: did:wba:agentidentityregistry.org:agents:AIR-WBA1-DEMO-AGT0#trust-score
                type: AIRTrustScore
                serviceEndpoint: https://agentidentityregistry.org/api/v1/agents/AIR-WBA1-DEMO-AGT0/trust-score
              - id: did:wba:agentidentityregistry.org:agents:AIR-WBA1-DEMO-AGT0#a2a
                type: A2AInbox
                serviceEndpoint: https://relay.agentidentityregistry.org/inbox/AIR-WBA1-DEMO-AGT0

    # ---------- NAME CHECK ----------

    ExistingAgent:
      type: object
      required: [air_id, name]
      properties:
        air_id:
          type: string
        name:
          type: string

    NameCheck:
      type: object
      required: [name, exists, count, existing_agents]
      properties:
        name:
          type: string
        exists:
          type: boolean
        count:
          type: integer
          minimum: 0
        existing_agents:
          type: array
          items:
            $ref: "#/components/schemas/ExistingAgent"
          maxItems: 5

    UsernameCheck:
      type: object
      description: |
        Availability result for `GET /agents/check-username`. When the handle is
        malformed, `valid` is false, `available` is false, and `error` explains
        why. When valid, `available` reflects both active holders and the release
        cooldown, with `reason` giving the specific blocker.
      required: [username, valid, available]
      properties:
        username:
          type: string
          description: The handle as checked (normalized when valid, raw when invalid).
        valid:
          type: boolean
        available:
          type: boolean
        reason:
          type: string
          enum: [available, taken, cooldown]
          description: Present when `valid` is true.
        error:
          type: string
          description: Present when `valid` is false.

    # ---------- REGISTRATION ----------

    RegistrationRequest:
      type: object
      required: [name]
      description: |
        At least one of `creator_did` or `public_key` is required. See the
        operation description for the identity-anchor matrix.
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 200
        description:
          type: string
          maxLength: 2000
        creator_did:
          type: string
          maxLength: 500
          description: |
            Pre-existing DID controlled by the caller. May be `did:wba:`,
            `did:key:`, `did:web:`, etc. If absent, AIR mints a `did:wba`.
        public_key:
          type: string
          minLength: 43
          maxLength: 44
          description: Ed25519 public key, base64url encoded (32 bytes = 43 chars unpadded or 44 padded). Required when `creator_did` is a `did:wba`.
        creator_name:
          type: string
          maxLength: 200
        creator_type:
          type: string
          enum: [individual, organization]
          default: individual
        capabilities:
          type: array
          items:
            type: string
          maxItems: 20
        security_certifications:
          type: array
          items:
            type: string
          maxItems: 10
        open_source:
          type: boolean
          default: false
        code_repository:
          type: string
          format: uri
          maxLength: 500
        documentation_url:
          type: string
          format: uri
          maxLength: 500

    RegistrationResult:
      type: object
      required:
        [air_id, name, creator_did, status, verification_level, trust_score,
         trust_grade, created, agent_secret, agent_secret_note, message]
      properties:
        air_id:
          type: string
        name:
          type: string
        creator_did:
          type: string
        air_minted_did:
          type: boolean
          description: True if AIR generated the did:wba (caller did not supply one). Omitted otherwise.
        status:
          type: string
          enum: [active]
        verification_level:
          type: string
          enum: [self-verified]
        trust_score:
          type: integer
        trust_grade:
          type: string
        created:
          type: string
          format: date-time
        public_key:
          type: string
          description: Echoed back when supplied. Omitted when not provided.
        did_wba_resolved:
          type: boolean
          description: |
            True if AIR was able to fetch the did:wba document during registration.
            False if not (resolution failed but did:wba format was valid — registration still succeeded).
            Omitted entirely for non-did:wba creators.
        agent_secret:
          type: string
          minLength: 32
          maxLength: 32
          description: |
            32-char hex secret. **Shown only once.** Required for `PUT /agents/{air_id}`.
            Lost secrets are unrecoverable — re-register if you need update access back.
        agent_secret_note:
          type: string
          description: Plain-English reminder about storing the secret.
        warnings:
          type: array
          items:
            type: string
          description: Non-blocking warnings (e.g. "duplicate name"). Omitted when none.
        message:
          type: string

    # ---------- UPDATE ----------

    UpdateRequest:
      type: object
      description: |
        All fields optional. Only the fields listed here are mutable.
        Supplying an empty body returns 400.
      properties:
        username:
          type: [string, "null"]
          description: |
            Claim, change, or clear the agent's unique published @handle.
            3-30 chars of a-z, 0-9, underscore (NFKC + lowercased on the way in;
            reserved/AIR-id-mimic handles are rejected). Pass `null` or `""` to
            clear. Globally unique among active agents — a conflicting claim
            returns 409; a handle released by another agent is reserved for a
            30-day cooldown and also returns 409 until it expires.
          pattern: ^[a-z0-9_]{3,30}$
        description:
          type: string
          maxLength: 2000
        capabilities:
          type: array
          items:
            type: string
          maxItems: 20
        security_certifications:
          type: array
          items:
            type: string
          maxItems: 10
        open_source:
          type: boolean
        code_repository:
          type: string
          format: uri
          maxLength: 500
        documentation_url:
          type: string
          format: uri
          maxLength: 500
        # Phase 3 Stage 3.0.1a — append-on-update endpoints for the DID document's
        # service[] array. Pass [] to clear. The hardcoded AIRTrustScore entry
        # remains in the DID document regardless of this field.
        service_endpoints:
          type: array
          description: |
            Per-agent service endpoints appended to the DID document's
            `service[]` array (W3C did-core). The built-in `AIRTrustScore`
            entry is always present and is NOT controlled by this field —
            it's added on top by AIR at read time.
          maxItems: 20
          items:
            $ref: "#/components/schemas/DidService"

    UpdateResult:
      type: object
      required: [air_id, updated_fields, trust_score, trust_grade, updated, message]
      properties:
        air_id:
          type: string
        updated_fields:
          type: integer
          minimum: 1
        trust_score:
          type: integer
        trust_grade:
          type: string
        updated:
          type: string
          format: date-time
        message:
          type: string

    # ---------- DELETE ----------

    DeleteResult:
      type: object
      required: [air_id, name, status, deleted_at, message]
      properties:
        air_id:
          type: string
        name:
          type: string
        status:
          type: string
          enum: [deleted]
        deleted_at:
          type: string
          format: date-time
        message:
          type: string

    # ---------- ADMIN ----------

    AdminStats:
      type: object
      required:
        [total_agents, real_agents, demo_agents, verified, unverified,
         registered_last_7_days, grade_distribution]
      properties:
        total_agents:
          type: integer
        real_agents:
          type: integer
        demo_agents:
          type: integer
        verified:
          type: integer
        unverified:
          type: integer
        registered_last_7_days:
          type: integer
        average_trust_score:
          type: [integer, "null"]
        grade_distribution:
          type: object
          description: Map of grade (AAA, AA, A, ...) → count of active agents at that grade.
          additionalProperties:
            type: integer

    AdminRecentItem:
      type: object
      required: [air_id, name, creator_name, verified, is_demo, verification_level, registered]
      properties:
        air_id:
          type: string
        name:
          type: string
        creator_did:
          type: [string, "null"]
        creator_name:
          type: string
        creator_type:
          type: [string, "null"]
        verified:
          type: boolean
        is_demo:
          type: boolean
        verification_level:
          type: string
        trust_score:
          type: [integer, "null"]
        trust_grade:
          type: [string, "null"]
        registered:
          type: string
          format: date-time

    AdminRecent:
      type: object
      required: [recent_registrations, count]
      properties:
        recent_registrations:
          type: array
          items:
            $ref: "#/components/schemas/AdminRecentItem"
        count:
          type: integer

    # ---------- ERRORS ----------

    ErrorEnvelope:
      type: object
      description: Common error response envelope. Not every field appears on every error.
      required: [error]
      properties:
        error:
          type: string
          description: Short human-readable error category.
        message:
          type: string
          description: Optional longer-form detail.
        air_id:
          type: string
          description: Echoed for endpoint-specific errors (e.g. 404 lookup).
        hint:
          type: string
          description: Actionable next step, when one applies.

    RateLimitErrorEnvelope:
      allOf:
        - $ref: "#/components/schemas/ErrorEnvelope"
        - type: object
          required: [retry_after_seconds]
          properties:
            retry_after_seconds:
              type: integer
              minimum: 0
              description: Seconds the caller should wait before retrying.

    VerifiedStatus:
      type: object
      description: Attestation-derived status embedded in attestation write/list responses.
      required: [verified, verification_score, distinct_whois_roots, attestation_count]
      properties:
        verified:
          type: boolean
          description: True when verification_score >= 300 AND distinct_whois_roots >= 3.
        verification_score:
          type: integer
          description: Sum of attester_trust_at_issue * tenure_multiplier_at_issue over active attestations.
        distinct_whois_roots:
          type: integer
        attestation_count:
          type: integer

    VerificationStatus:
      type: object
      description: Display-oriented Verified breakdown on GET /agents/{air_id} (adds thresholds).
      required:
        [verified, score, score_required, attestation_count, distinct_whois_roots,
         distinct_whois_roots_required]
      properties:
        verified:
          type: boolean
        score:
          type: integer
        score_required:
          type: integer
          description: Currently 300.
        attestation_count:
          type: integer
        distinct_whois_roots:
          type: integer
        distinct_whois_roots_required:
          type: integer
          description: Currently 3.

    AttestationType:
      type: string
      enum: [identity_verification, operator_confirmation, dependency, safety_review]
      description: |
        identity_verification — claimed identity is real.
        operator_confirmation — operated by its claimed creator.
        dependency — attester depends on subject in production.
        safety_review — attester reviewed and trusts the subject's safety.

    AttestationRequest:
      type: object
      description: Body for POST /agents/{air_id}/attestations.
      required: [attester_air_id, attestation_type, signed_at, signature_multibase]
      properties:
        attester_air_id:
          type: string
          pattern: ^AIR-[A-Z0-9]{4}-[A-Z0-9]{4}-[A-Z0-9]{4}$
        attestation_type:
          $ref: "#/components/schemas/AttestationType"
        signed_at:
          type: string
          format: date-time
          description: ISO-8601 timestamp; must equal the value inside the signed payload.
        signature_multibase:
          type: string
          description: '"z" + base58btc of the 64-byte Ed25519 signature over the JCS-canonical payload.'
        statement:
          type: string
          default: ""
          description: Optional free-form note; always part of the signed payload.

    Attestation:
      type: object
      description: One row in a subject's attestation list (active or revoked).
      properties:
        id:
          type: integer
        attester_air_id:
          type: string
        attester_whois_root:
          type: [string, "null"]
        attestation_type:
          $ref: "#/components/schemas/AttestationType"
        statement:
          type: string
        signed_payload:
          type: string
          description: The exact JCS-canonical bytes that were signed (for independent re-verification).
        signature_multibase:
          type: string
        signed_at:
          type: string
          format: date-time
        attester_trust_at_issue:
          type: integer
        tenure_multiplier_at_issue:
          type: number
        weight:
          type: number
          description: attester_trust_at_issue * tenure_multiplier_at_issue.
        revoked_at:
          type: [string, "null"]
          format: date-time
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time

    AttestationResult:
      type: object
      description: 201 response from POST /agents/{air_id}/attestations.
      properties:
        attestation_id:
          type: integer
        subject_air_id:
          type: string
        attester_air_id:
          type: string
        attestation_type:
          $ref: "#/components/schemas/AttestationType"
        statement:
          type: string
        signed_at:
          type: string
          format: date-time
        attester_whois_root:
          type: [string, "null"]
        attester_trust_at_issue:
          type: integer
        tenure_multiplier_at_issue:
          type: number
        weight:
          type: number
        verified_status:
          $ref: "#/components/schemas/VerifiedStatus"

    AttestationList:
      type: object
      description: GET /agents/{air_id}/attestations response — full public audit trail.
      properties:
        subject_air_id:
          type: string
        attestations:
          type: array
          items:
            $ref: "#/components/schemas/Attestation"
        total:
          type: integer
        active:
          type: integer
        verified_status:
          $ref: "#/components/schemas/VerifiedStatus"

    RecentAttestation:
      type: object
      properties:
        id:
          type: integer
        subject_air_id:
          type: string
        attester_air_id:
          type: string
        attester_whois_root:
          type: [string, "null"]
        attestation_type:
          $ref: "#/components/schemas/AttestationType"
        statement:
          type: string
        signed_at:
          type: string
          format: date-time
        weight:
          type: number
        created_at:
          type: string
          format: date-time

    RecentAttestations:
      type: object
      properties:
        attestations:
          type: array
          items:
            $ref: "#/components/schemas/RecentAttestation"
        total:
          type: integer
        limit:
          type: integer

    RevokeResult:
      type: object
      properties:
        revoked:
          type: boolean
        attestation_id:
          type: integer
        subject_air_id:
          type: string
        revoked_at:
          type: string
          format: date-time
        verified_status:
          $ref: "#/components/schemas/VerifiedStatus"

    AgentGraph:
      type: object
      description: 1-hop attestation ego graph for GET /agents/{air_id}/graph.
      properties:
        air_id:
          type: string
        inbound:
          type: array
          description: Edges where this agent is the subject (who vouches for it).
          items:
            type: object
            properties:
              attester_air_id: { type: string }
              attestation_type: { $ref: "#/components/schemas/AttestationType" }
              attester_whois_root: { type: [string, "null"] }
              weight: { type: number }
              signed_at: { type: string, format: date-time }
        outbound:
          type: array
          description: Edges where this agent is the attester (who it vouches for).
          items:
            type: object
            properties:
              subject_air_id: { type: string }
              attestation_type: { $ref: "#/components/schemas/AttestationType" }
              weight: { type: number }
              signed_at: { type: string, format: date-time }
        inbound_count:
          type: integer
        outbound_count:
          type: integer

    Dependents:
      type: object
      description: Transitive blast-radius for GET /agents/{air_id}/dependents.
      properties:
        air_id:
          type: string
        dependents:
          type: array
          items:
            type: object
            properties:
              air_id: { type: string }
              depth:
                type: integer
                description: Shortest dependency-hop distance from this agent to the target.
        total:
          type: integer
        max_depth:
          type: integer
        truncated:
          type: boolean
          description: True if the node cap clipped the result.

    GraphStats:
      type: object
      description: Global graph summary for GET /graph/stats.
      properties:
        nodes:
          type: object
          properties:
            subjects: { type: integer }
            attesters: { type: integer }
            total_distinct: { type: integer }
        edges:
          type: object
          properties:
            active: { type: integer }
            by_type:
              type: object
              additionalProperties:
                type: integer
        top_attested:
          type: array
          items:
            type: object
            properties:
              air_id: { type: string }
              count: { type: integer }
        top_attesters:
          type: array
          items:
            type: object
            properties:
              air_id: { type: string }
              count: { type: integer }

    # ---------- AUDIT LOG ----------

    AuditEntry:
      type: object
      description: One append-only, hash-linked agent-record change event.
      required: [id, event, actor, created_at, prev_hash, entry_hash]
      properties:
        id:
          type: integer
          description: Chain order (not part of the hash).
        event:
          type: string
          enum: [registered, updated, deleted, redacted]
        changed_fields:
          type: array
          nullable: true
          items:
            type: string
          description: Public field names changed (null for register/delete/redact).
        actor:
          type: string
          enum: [registrant, owner, admin, system]
        created_at:
          type: string
          description: Worker-generated ISO 8601 (never client-supplied).
        prev_hash:
          type: string
          description: Previous entry's entry_hash; the literal "GENESIS" for the first.
        entry_hash:
          type: string
          description: >
            sha256hex([air_id, event, sortedJCS(changed_fields) or "", actor,
            created_at].join("\n") + "\n" + prev_hash). Reproducible by any third party.

    AuditAnchor:
      type: object
      description: >
        External anchor published weekly to the public audit-anchors repo. Anchors
        dated on/after the signing-effective date (see AuditVerifyResult) carry an
        Ed25519 `signature` over the JCS canonicalization of
        {anchored_at, entry_count, tip_hash}, verifiable against AIR's pinned anchor
        public key. Signing adds AUTHENTICITY (proof AIR issued the anchor), not
        tamper-proofing: AIR holds the key, so operator-rewrite + anchor-rollback are
        caught by the public append-only git history, not by the signature.
      required: [anchored_at, tip_hash, entry_count]
      properties:
        anchored_at:
          type: string
          description: ISO-8601 timestamp of when the anchor was published.
        tip_hash:
          type: string
          description: sha256hex of the chain tip at anchor time.
        entry_count:
          type: integer
          description: Total number of entries in the chain at anchor time.
        algorithm:
          type: string
          description: >
            Signature algorithm ("Ed25519"). Absent on pre-signing historical
            anchors. A verifier must use the algorithm bound to the pinned key,
            never let this field select it.
        key_id:
          type: string
          description: >
            First 16 lowercase-hex of sha256(raw 32-byte public key) — a non-security
            hint identifying the signing key. A matching key_id is never sufficient;
            the signature must verify under the pinned key.
        signature:
          type: string
          description: >
            Unpadded base64url Ed25519 signature over
            jcs({anchored_at, entry_count, tip_hash}). Absent on pre-signing anchors.

    AuditVerifyResult:
      type: object
      description: >
        Bounded integrity check of the global audit chain, cross-checked against the
        latest external anchor.


        **Anchor verification (for third parties).** AIR's pinned anchor public key
        (raw 32-byte Ed25519, base64url) is: `SET_AT_PROVISIONING`. This value —
        published here and as a source constant — is the authoritative pin; the
        `KEY.json` in the audit-anchors repo is a non-authoritative convenience copy
        only. To verify an anchor: (1) confirm `algorithm` == "Ed25519"; (2) verify
        `signature` (base64url) over `jcs({anchored_at, entry_count, tip_hash})`
        against the pinned key — never trust `key_id` in its place; (3) reject any
        anchor dated >= `signing_effective` that lacks a valid signature; (4) across
        the anchor series, enforce **monotonic non-decreasing `entry_count`** and that
        each file's name matches its `anchored_at` date. Signing proves authenticity
        only — operator-rewrite and anchor-rollback are caught by the public,
        append-only git commit history, which remains the tamper-evidence witness.
      required: [valid, entries_checked]
      properties:
        valid:
          type: boolean
        first_broken_id:
          type: integer
          nullable: true
        entries_checked:
          type: integer
        count:
          type: integer
        tip_hash:
          type: string
        live_tip_hash:
          type: string
          description: sha256hex of the current live chain tip.
        live_count:
          type: integer
          description: Total number of entries currently in the live chain.
        signing_effective:
          type: string
          description: >
            Date (YYYY-MM-DD) anchor signing went live. Any anchor dated on/after
            this without a valid signature must be treated as invalid.
        last_anchor:
          description: >
            Cross-check against the latest external anchor; null if none published
            or GitHub unreachable.
          nullable: true
          type: object
          properties:
            anchored_at:
              type: string
            tip_hash:
              type: string
            entry_count:
              type: integer
            matches:
              type: boolean
              description: >
                True if live_tip_hash equals the anchor tip_hash AND live_count
                is >= the anchor entry_count.
            signature_valid:
              type: boolean
              nullable: true
              description: >
                True if the anchor's Ed25519 signature verifies against AIR's pinned
                public key; false if it fails or is unsigned; null if the registry
                has no pinned key configured yet.
